*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

.returnPage {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  width: fit-content;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.returnPage:hover {
  background-color: green;
  color: white;
}

/* header start  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  padding: 16px;
  top: 0;
  z-index: 999;
  background-color: #fff !important;

  ul {
    list-style: none;
    display: flex;
    gap: 24px;

    a {
      text-decoration: none;
      color: black;
      font-weight: 500;
    }
  }

  .signBtns {
    display: flex;
    gap: 8px;
    button {
      letter-spacing: 2px;
      background-color: #1292ee;
      border: 0px;
      padding: 12px;
      border-radius: 8px;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 12px;
    }
  }
}
/* header end  */

/* classes kısmı start  */

.classContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 32px;

  a {
    text-decoration: none;
    color: black;
  }

  .imageClassBox {
    width: 100%;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 250px;
    }
  }

  .classBox {
    display: flex;
    align-items: flex-start;
    border-radius: 4px;
    gap: 8px;
    background-color: white;
    padding: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    .boxContent {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 4px;

      .boxContentH6Periot {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .period {
          background-color: rgb(93, 51, 198);
          padding: 4px 16px;
          font-size: 12px;
          width: fit-content;
          border-radius: 4px;
          text-align: center;
          color: white;
        }
      }

      p {
        font-size: 12px;
        opacity: 0.6;
      }
    }

    .classBoxFooter {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      h6 {
        font-weight: 500;
        opacity: 0.6;
      }
    }

    img {
      width: 48px;
    }
  }
}

/* classes kısmı end  */

/* detail kısmı start  */

.classDetailContainer {
  display: grid;
  justify-content: center;

  .detailHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 40px;

    form {
      display: flex;
      align-items: center;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

      input {
        border: none;
        padding: 8px 16px;
      }
      button {
        padding: 4px 8px;
        background-color: transparent;
        border: none;
      }
    }
  }
  .returnPage {
    padding: 8px;
    width: fit-content;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  a {
    text-decoration: none;
  }

  .detailBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 48px;

    img {
      position: relative;
      left: 105px;
      top: 20px;
      background-color: rgb(233, 233, 233);
      border-radius: 50%;
    }

    a {
      color: black;
    }

    .detail {
      display: grid;
      gap: 16px;
      text-align: center;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      padding: 32px 16px 16px 16px;
      height: 100%;

      .detailContent {
        .here {
          background-color: blue;
          color: white;
          padding: 4px 8px;
        }
        .absend {
          background-color: red;
          color: white;
          padding: 4px 8px;
        }
        h5 {
          font-size: 16px;
        }

        p {
          opacity: 0.6;
        }
      }

      .detailFooter {
        display: flex;
        gap: 24px;
      }

      .low {
        color: green;
        font-weight: 500;
      }

      .high {
        color: red;
        font-weight: bold;
      }

      .medium {
        font-weight: 500;
        color: rgb(177, 16, 16);
        animation: blinkColor 1s infinite;
      }
    }
  }

  .attencedBtn {
    display: flex;
    align-items: flex-start;
    border: none;
    background-color: transparent;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-block: 60px;
    padding: 6px 8px;
    width: fit-content;
    cursor: pointer;
  }

  .attencedBtn:hover {
    background-color: green;
    color: white;
  }
}

@keyframes blinkColor {
  0% {
    color: rgb(177, 16, 16);
  }
  50% {
    color: transparent;
  }
  100% {
    color: rgb(177, 16, 16);
  }
}
/* detail kısmı end  */
